.favorites-visible {
    max-height: 500px; /* Adjust as needed */
    opacity: 1;
    visibility: visible;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .favorites-hidden {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  /* Reduce size of favorite station icons */
.favorite-icon {
    width: 60px; /* Adjust as needed */
    height: 60px;
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Add hover effect for better UX */
  .favorite-icon:hover {
    transform: scale(1.1);
  }
  // Radio List Container
.radio-list {
    padding: 0;
  }
  
  .radio-item {
    display: flex;
    flex-direction: row; // Ensures everything is in a row
    align-items: center;
    justify-content: flex-start; // Aligns content to the left
    border: 5px solid #007bff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
  
    &:hover {
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
    }
  }
  
  // Aligns image and title to the left
  .radio-img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 15px;
    background-color:#86b7fe
  }
  
  .radio-title {
    font-weight: bold;
    color: #343a40;
    flex-grow: 1; // Ensures text takes up the available space
    text-align: left; // Aligns text to the left
  }
  
  // Button Container: Pushes buttons to the right
  .radio-item > div:last-child {
    margin-left: auto; // Pushes buttons to the right
  }
  
  // Play & Favorite Buttons
  .play-btn,
  .favorite-btn {
    border-radius: 50px;
    margin-left: 10px;
    transition: 0.2s;
  
    &:hover {
      transform: scale(1.1);
    }
  }
  
  